<div class="wrapper">
    <!--div>
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li><a id="overView" class="btn" data-toggle="collapse" data-target="#overviewBar" aria-controls="overviewBar">Overview</a></li>
                <li><a class="btn" data-toggle="collapse" data-target="#searchBar" aria-controls="searchBar" aria-expanded="false">Search</a></li>
                <li><a class="btn">Chat</a></li>
                <li><a class="btn">Essentials</a></li>
            </ul>
        </nav>
    </div>
    <div id="overviewBar">
        <h3 class="h4">My Trip</h3>
        <hr>
        <ul class="list-unstyled components">
            <li>Starting : {{origin}}</li>
            <li>Destination : {{destination}}</li>
        </ul>
    </div>

    <div id="searchBar">
        <input type="text" placeholder="Search" (keyup)="placeAutocomplete($event)">
    </div-->
    <div #gmap style="width:100%;height:400px"></div>

</div>